In [2]:
True and True

True

In [3]:
False and True

False

In [4]:
False and False

False

In [5]:
3 > 2 and 1==1

True

In [6]:
3 > 2 and 1 == 2

False

In [7]:
("aby koniunkcja była prawdziwa obie strony muszą być prawdziwe")

'aby koniunkcja była prawdziwa obie strony muszą być prawdziwe'

In [8]:
True or True

True

In [9]:
True or False

True

In [10]:
False or True

True

In [11]:
False or False

False

In [12]:
("alternatywa jest fałszywa wtedy i tylko wtedy gdy po obu stronach alternatywy jest fałsz")

'alternatywa jest fałszywa wtedy i tylko wtedy gdy po obu stronach alternatywy jest fałsz'

In [13]:
not False

True

In [14]:
not True

False

In [15]:
not 3<2

True

In [17]:
not 3 > 2

False

In [16]:
("not czyli negacja, wartoś przeciwna do wartości po praeej stronie operatora")

'not czyli negacja, wartoś przeciwna do wartości po praeej stronie operatora'

In [2]:
imie = input("Podaj imie: ")
print("Masz na imię", imie)

Podaj imie:  Daria

Masz na imię Daria

In [4]:
liczba = input("Podaj liczbę:")
kwadrat = float(liczba) ** 2
print("Twoja liczba do kwadratu to:", kwadrat)

Podaj liczbę: 1.5

Twoja liczba do kwadratu to: 2.25

In [5]:
("Funkcja input pobiera to co użytkownik umieści w okienku")

'Funkcja input pobiera to co użytkownik umieści w okienku'

In [3]:
liczba = input("Podaj liczbe:")
liczba = int(liczba)
if liczba % 2 == 0:
    print("liczba jest parzysta")
else:
    print("liczba jest nieparzysta")

Podaj liczbe: 15

liczba jest nieparzysta

In [7]:
liczba = input("Podaj liczbe:")
liczba = int(liczba)

if liczba % 4 == 0:
    print("liczba jest podzielna przez 4")
elif liczba % 2 == 0: 
    print("liczba jest parzysta")
else: 
    print("liczba jest nieparzysta")

Podaj liczbe: 65

liczba jest nieparzysta

In [8]:
ludzie = ["Ania", "Kasia", "Stefan", "Józek", "Eleonora"]

In [9]:
ludzie

['Ania', 'Kasia', 'Stefan', 'Józek', 'Eleonora']

In [10]:
type(ludzie)

list

In [11]:
lista = [1, 3, 5, 123, "ala", 'ma kota', True, False]

In [12]:
lista

[1, 3, 5, 123, 'ala', 'ma kota', True, False]

In [13]:
ludzie

['Ania', 'Kasia', 'Stefan', 'Józek', 'Eleonora']

In [14]:
ludzie[0]

'Ania'

In [15]:
ludzie[3]

'Józek'

In [16]:
a = input("podaj indeks")
a = int(a)
ludzie[a]

podaj indeks 2

'Stefan'

In [18]:
napis = "ala ma kota a kot ma ale"
napis[4:6]

'ma'

In [19]:
napis[-1]

'e'

In [20]:
napis

'ala ma kota a kot ma ale'

In [24]:
len(napis)  , ("ile liter ma napis")

(24, 'ile liter ma napis')

In [22]:
len(ludzie)

5

In [25]:
liczby = [1 ,2 ,3 ,15]
sum(liczby)

21

In [26]:
ludzie

['Ania', 'Kasia', 'Stefan', 'Józek', 'Eleonora']

In [31]:
ludzie.append( 'Gertruda' )
ludzie

['Ania',
 'Kasia',
 'Stefan',
 'Józek',
 'Eleonora',
 'Gertruda',
 'Gertruda',
 'Kazimierz',
 'Kazimierz',
 'Gertruda']

In [30]:
ludzie.append("Kazimierz")
ludzie

['Ania',
 'Kasia',
 'Stefan',
 'Józek',
 'Eleonora',
 'Gertruda',
 'Gertruda',
 'Kazimierz',
 'Kazimierz']

In [32]:
liczby.append(34)

In [33]:
liczby

[1, 2, 3, 15, 34]

In [34]:
ludzie.insert(3, "Zosia")
ludzie

['Ania',
 'Kasia',
 'Stefan',
 'Zosia',
 'Józek',
 'Eleonora',
 'Gertruda',
 'Gertruda',
 'Kazimierz',
 'Kazimierz',
 'Gertruda']

In [35]:
ludzie.pop(-2)

'Kazimierz'

In [41]:
ludzie.remove('Kazimierz')
ludzie

['Ania',
 'Kasia',
 'Stefan',
 'Zosia',
 'Eleonora',
 'Gertruda',
 'Gertruda',
 'Gertruda']

In [42]:
ludzie.remove('Zosia')

In [43]:
ludzie

['Ania', 'Kasia', 'Stefan', 'Eleonora', 'Gertruda', 'Gertruda', 'Gertruda']

ValueError: list.remove(x): x not in list